.recipes {
  background-repeat: no-repeat;
  background-color: #0a2750;
  background-size: cover;
  background-position: center;
}
.recipes {
  background-image: url(../images/background_recipes.svg);
}
.recipes__title {
  color: white;
  max-width: 580px;
  padding-left: 80px;
  margin-top: 0;
  padding-top: 100px;

  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.recipes__subtitle {
  color: white;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", "generic serif";
  font-style: normal;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  padding-bottom: 215px;
  gap: 40px;
  list-style-type: none;
  margin-top: 80px;
  justify-content: center;
  margin-bottom: 0;
}

.recipes__video {
  display: flex;
  flex-direction: column;
}

.recipes__video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
