@import url(../bloks/page.css); 
@import url(../bloks/header.css);
@import url(../bloks/nav.css);
@import url(../bloks/recipes.css);
@import url(../bloks/reservation.css);

@keyframes pulse {
0% {
 transform: scale(0);
  
}
50% {
 transform:  scale(0.6);
}
100% {
  transform: scale(1.4);
}
}
.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.form {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: auto;
  margin-left: auto;
}

.form__input {
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
  padding: 15px 20px;
  margin-bottom: 32px;
}
.form__button {
  border-radius: 4px;
  background-color: #1878dc;

  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  transition: 0.5s ease;
  min-width: 385px;
  color: white;
  padding: 20px 20px;
}
.form__button:hover {
  background-color: #3f96f3;
}
.form__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.menu {
  background-color: white;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.menu__title {
  max-width: 780px;
  padding-top:  100px;
  padding-left: 700px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  max-width: 780px;
  padding-top:  24px;
  padding-left: 400px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  padding-top:  100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  
}
.baked-goods {
  display: flex;
  padding-left: 440px;
  padding-bottom: 100px;
}
.card {
  width: 540px;
  
  
}
.card__title {
  padding-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list_item {
  display: flex;
  margin-bottom: 16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  
  
  
  

}
.card__list-divider {
flex-grow: 1;
border-bottom: solid;

}
.about {
  display: flex;
  background-color: #0A2850;
  position: relative;
  z-index: -1;
  
}
.about__title {
  max-width: 251px;
  color: white;
  padding-top: 100px;
  padding-left: 80px;
  z-index: 5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.about__content {
  padding-top: 119px;
  padding-bottom: 173px;
  
  
}
.about__paragraph {
  max-width: 660px;
  gap:20px;
  color: white;
  margin-left: auto;
  padding-right: 80px;
  z-index: -3;
  padding-left: 400px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  width: 426px;
  height: 426px;
  background: #1878DC;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -2;
}
.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  background: #1878DC;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -2;
  animation: pulse 1.3s ease-in-out alternate infinite;

}











  
  
  
  


  

 





  




